<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="en">
        <title>Gefahr</title>
        <link rel="stylesheet" type="text/css" href="/styles/game.css" />
    </head>
    <body>
        <p>Game Page!</p>
        <div class="container">
            <div class="board">
                <div class="tile category-tile" id="cat-1"></div>
                <div class="tile category-tile" id="cat-2"></div>
                <div class="tile category-tile" id="cat-3"></div>
                <div class="tile category-tile" id="cat-4"></div>
                <div class="tile category-tile" id="cat-5"></div>
                <div class="tile category-tile" id="cat-6"></div>
                <div class="tile clue-tile" id="c11"></div>
                <div class="tile clue-tile" id="c12"></div>
                <div class="tile clue-tile" id="c13"></div>
                <div class="tile clue-tile" id="c14"></div>
                <div class="tile clue-tile" id="c15"></div>
                <div class="tile clue-tile" id="c21"></div>
                <div class="tile clue-tile" id="c22"></div>
                <div class="tile clue-tile" id="c23"></div>
                <div class="tile clue-tile" id="c24"></div>
                <div class="tile clue-tile" id="c25"></div>
                <div class="tile clue-tile" id="c31"></div>
                <div class="tile clue-tile" id="c32"></div>
                <div class="tile clue-tile" id="c33"></div>
                <div class="tile clue-tile" id="c34"></div>
                <div class="tile clue-tile" id="c35"></div>
                <div class="tile clue-tile" id="c41"></div>
                <div class="tile clue-tile" id="c42"></div>
                <div class="tile clue-tile" id="c43"></div>
                <div class="tile clue-tile" id="c44"></div>
                <div class="tile clue-tile" id="c45"></div>
                <div class="tile clue-tile" id="c51"></div>
                <div class="tile clue-tile" id="c52"></div>
                <div class="tile clue-tile" id="c53"></div>
                <div class="tile clue-tile" id="c54"></div>
                <div class="tile clue-tile" id="c55"></div>
                <div class="tile clue-tile" id="c61"></div>
                <div class="tile clue-tile" id="c62"></div>
                <div class="tile clue-tile" id="c63"></div>
                <div class="tile clue-tile" id="c64"></div>
                <div class="tile clue-tile" id="c65"></div>
            </div>
        </div>
    </body>

</html>

<script src="/scripts/game.js"></script>
<script src="/scripts/helpers.js"></script>