<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="en">
    <title>Gefahr - Random</title>
    <link rel="stylesheet" type="text/css" href="/styles/random.css" />
</head>

<body>
    <div class="container">
        <p id="round"></p>
        <p id="category"></p>
        <p id="value"></p>
        <p id="clue-text"></p>
        <input id="response" type="text" placeholder="Enter Response"></input>
        <button id="btn-submit">Submit</button>
        <button id="btn-next">Next</button>
        <div class="outer grid-item">
            <p id="answer-text"></p>
        </div>
        <p id="score">0</p>
    </div>
</body>

</html>

<script src="/scripts/helpers.js"></script>
<script src="/scripts/random.js"></script>
