*{
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    background-color: rgb(6, 6, 179);
}

.body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(6, 6, 179);
}