*{
    font-family: 'Courier New', Courier, monospace;
    color: azure;
}

.body{
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    background-color: rgb(6, 6, 179);
}

.container{
    display: grid;
    background-color: rgb(6, 6, 179);
}