*{
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    background-color: rgb(6, 6, 179);
}

.body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(6, 6, 179);
}

.container{
    color: azure;
    display: grid;
    background-color: rgb(6, 6, 179);
    justify-items: center;
}

.outer {
    opacity: 0;
  }

.correct{
    background-color: rgb(6, 199, 6);
}

.incorrect{
    background-color: rgb(199, 12, 6);
}

#btn-next{
    background-color: rgb(112, 112, 202);
    color: inherit;
    border: 1px solid;
    padding: 0;
    margin: 1px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#btn-submit{
    background-color: rgb(112, 112, 202);
    color: inherit;
    border: 1px solid;
    padding: 0;
    margin: 1px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#response{
    color: rgb(6, 6, 179);
    background-color: azure;
}

#answer-text{
    transition: 200ms;
    color: azure;
}
