*{
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    background-color: rgb(6, 6, 179);
}

.body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(6, 6, 179);
}

.container{
    color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "round category value"
                         ". clue ."
                         ". response ."
                         ". submit ."
                         ". next ."
                         ". answer ."
                         ". score .";
    background-color: rgb(6, 6, 179);
    justify-items: center;
}

.outer {
    opacity: 0;
    grid-area: answer;
  }

.correct{
    background-color: rgb(6, 199, 6);
}

.incorrect{
    background-color: rgb(199, 12, 6);
}

#btn-next{
    background-color: rgb(112, 112, 202);
    color: inherit;
    border: 1px solid;
    padding: 0;
    margin: 1px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#btn-submit{
    background-color: rgb(112, 112, 202);
    color: inherit;
    border: 1px solid;
    padding: 0;
    margin: 1px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#response{
    color: rgb(6, 6, 179);
    background-color: azure;
}

#answer-text{
    grid-area: "answer";
    transition: 200ms;
    color: azure;
}

#round{
    grid-area: round;
}

#category{
    grid-area: category;
}

#value{
    grid-area: value;
}

#clue-text{
    grid-area: clue;
}

#btn-submit{
    grid-area: submit;
}

#btn-next{
    grid-area: next;
}

#score{
    grid-area: score;
}

#answer-text{
    grid-area: answer;
}

#response{
    grid-area: response;
}




